

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: gray;
}


#parent{
    height: 500px;
    width: 500px;
    background-color: black;
}
#child{
    height: 100%;
    width: 50%;
    background-color: blue;
}

button{
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 10px;

    color: white;
    background-color: red;
    border-radius: 5px;
    
    border: 2px solid black
}


button:hover{
    color: red;
    background-color: white;
}